.buttons {
  float: right;
  padding: 10px;
  background-color: #eee;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-align-last: right;
  width: 100%;
}
.btn {
  margin-left: 15px;
}
.card-header {
  background-color: #007bff;
}
.filled {
  color: green;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
